$quotation-mark-size:     2rem;
$quotation-mark-spacing:  ($quotation-mark-size+.5rem);

.blockqoute-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  padding-left: $quotation-mark-spacing;
}
.blockqoute-content + .blockquote-footer {
  margin-left: (1.25*$quotation-mark-spacing);
}
.blockqoute-content::before {
  position: absolute;
  left: ($quotation-mark-size/2);
  display: block;
  width: $quotation-mark-size;
  height: $quotation-mark-size;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23#{str-slice(inspect($primary), 2)}' d='M3 1a3 3 0 0 0-3 3v3h3V4H1a2 2 0 0 1 2-2V1zm5 0a3 3 0 0 0-3 3v3h3V4H6a2 2 0 0 1 2-2V1z'/%3E%3C/svg%3E");
}
