---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body {{ page.bodyaddon }}>

    {% include nav.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}
    {% include js.html %}

  </body>

</html>
